<form [formGroup]="ticketForm" class="ticket-form">
  <p class="ticket-form__title">Detailed view</p>
  <div class="ticket-form__container">
    <mat-form-field class="ticket-form-input">
      <mat-label>id</mat-label>
      <input matInput formControlName="id">
    </mat-form-field>

    <mat-form-field class="ticket-form-input">
      <mat-label>name</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>

    <mat-form-field class="ticket-form-input">
      <mat-label>date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date">
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker touchUi #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="ticket-form-input">
      <input matInput type="time" placeholder="start date" formControlName="time">
    </mat-form-field>
  </div>

  <button mat-raised-button color="primary" class="ticket-form__button" (click)="editTicket()" *ngIf="!isDisabled"
  >Save
  </button>
</form>
